@page "/"
@inject NavigationManager uriHelper;

<h1>Select Game</h1>

<button @onclick="(async () => SelectGame(1))">
    <img src="images/jacksorbetter.jpg" alt="Jacks Or Better" />
</button>

<button @onclick="(async () => SelectGame(2))">
    <img src="images/jacksorbetter-versus.jpg" alt="Jacks Or Better Versus" />
</button>

@code
{
    private void SelectGame(int gameType)
    {
        uriHelper.NavigateTo("/jacksorbetter");        
    }
}
